[[Unit]
Description=Encrypt data
After=network.target

[Service]
WorkingDirectory=/home/client/Abhay/cryptage/Crypt/src/
ExecStart=/home/client/Abhay/cryptage/Crypt/src/crypt.sh start

[Install]
WantedBy=multi-user.target
