[Unit]
Description=Data encryption
After=network-online.target

[Service]
User=client
WorkingDirectory=/home/client/Desktop/Crypt/src/
ExecStart=/home/client/Desktop/Crypt/src/crypt.sh start

[Install]
WantedBy=multi-user.target
