[Unit]
Description=Data decryption
After=network-online.target

[Service]
User=client
WorkingDirectory=~/Abhay/cryptage/
ExecStart=~/Abhay/cryptage/decrypt.sh start

[Install]
WantedBy=multi-user.target
