[Unit]
Description=Data decryption
After=network-online.target
[Service]
WorkingDirectory=/home/client/Abhay/cryptage/Crypt/src
ExecStart=/home/client/Abhay/cryptage/Crypt/src/decrypt.sh
[Install]
WantedBy=multi-user.target
